In [32]:
import pandas as pd 
import numpy as np

In [33]:
ptd1 = pd.read_csv('part_01.csv')
ptd2 = pd.read_csv('part_02.csv')
ptd3 = pd.read_csv('part_03.csv')
ptd4 = pd.read_csv('part_04.csv')
ptd5 = pd.read_csv('part_05.csv')
ptd6 = pd.read_csv('part_06.csv')
ptd7 = pd.read_csv('part_07.csv')
ptd8 = pd.read_csv('part_08.csv')
ptd9 = pd.read_csv('part_09.csv')
ptd10 = pd.read_csv('part_10.csv')
ptd11 = pd.read_csv('part_11.csv')
ptd12 = pd.read_csv('part_12.csv')
ptd1['ID'].unique

<bound method Series.unique of 0         358628
1         528730
2         160451
3         210467
4         292486
           ...
177590    436199
177591    302713
177592    388457
177593    364908
177594    278117
Name: ID, Length: 177595, dtype: int64>

In [34]:
df = pd.read_csv('part_02.csv')
df.head()

,ID,AGE,APP_CAR,APP_COMP_TYPE,APP_DRIVING_LICENSE,APP_EDUCATION,APP_EMP_TYPE,APP_KIND_OF_PROP_HABITATION,APP_MARITAL_STATUS,APP_POSITION_TYPE,APP_REGISTR_RGN_CODE,APP_TRAVEL_PASS
0,349630,444,N,PRIVATE,Y,UH,PRIVATE,NPRIVAT,M,MANAGER,77.0,N
1,336459,324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,533853,648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,344680,420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,388464,600,Y,PRIVATE,N,H,PRIVATE,JO,M,SPECIALIST,54.0,N

In [35]:
ptd3 = pd.read_csv('part_03.csv')

In [36]:
ptd3

,ID,AVG_PCT_DEBT_TO_DEAL_AMT,AVG_PCT_MONTH_TO_PCLOSE,DEAL_GRACE_DAYS_ACC_AVG,DEAL_GRACE_DAYS_ACC_MAX,DEAL_GRACE_DAYS_ACC_S1X1,DEAL_YQZ_IR_MAX,DEAL_YQZ_IR_MIN,DEAL_YWZ_IR_MAX,DEAL_YWZ_IR_MIN,...,LDEAL_TENOR_MAX,LDEAL_TENOR_MIN,LDEAL_USED_AMT_AVG_YQZ,LDEAL_USED_AMT_AVG_YWZ,LDEAL_YQZ_CHRG,LDEAL_YQZ_COM,LDEAL_YQZ_PC,MAX_PCLOSE_DATE,MED_DEBT_PRC_YQZ,MED_DEBT_PRC_YWZ
0,353144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,373635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,273973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,521836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,491543,NaN,NaN,1.0,1.0,1.0,NaN,NaN,25.99,25.99,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177590,474974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177591,478560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177592,536711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177593,259615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177594,469002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
ptd1.columns

Index(['ID', 'AMOUNT_RUB_ATM_PRC', 'AMOUNT_RUB_CLO_PRC', 'AMOUNT_RUB_NAS_PRC',
       'AMOUNT_RUB_SUP_PRC', 'CNT_TRAN_ATM_TENDENCY1M',
       'CNT_TRAN_ATM_TENDENCY3M', 'CNT_TRAN_AUT_TENDENCY1M',
       'CNT_TRAN_AUT_TENDENCY3M', 'CNT_TRAN_CLO_TENDENCY1M',
       'CNT_TRAN_CLO_TENDENCY3M', 'CNT_TRAN_MED_TENDENCY1M',
       'CNT_TRAN_MED_TENDENCY3M', 'CNT_TRAN_SUP_TENDENCY1M',
       'CNT_TRAN_SUP_TENDENCY3M', 'SUM_TRAN_ATM_TENDENCY1M',
       'SUM_TRAN_ATM_TENDENCY3M', 'SUM_TRAN_AUT_TENDENCY1M',
       'SUM_TRAN_AUT_TENDENCY3M', 'SUM_TRAN_CLO_TENDENCY1M',
       'SUM_TRAN_CLO_TENDENCY3M', 'SUM_TRAN_MED_TENDENCY1M',
       'SUM_TRAN_MED_TENDENCY3M', 'SUM_TRAN_SUP_TENDENCY1M',
       'SUM_TRAN_SUP_TENDENCY3M', 'TRANS_AMOUNT_TENDENCY3M',
       'TRANS_CNT_TENDENCY3M', 'TRANS_COUNT_ATM_PRC', 'TRANS_COUNT_NAS_PRC',
       'TRANS_COUNT_SUP_PRC'],
      dtype='object')

In [38]:
df.all = pd.DataFrame()

In [39]:
df_all = pd.concat([ptd1, ptd2, ptd3, ptd4, ptd5, ptd6, ptd7, ptd8, ptd9,ptd10, ptd11, ptd12], ignore_index=True)
print(df_all)

             ID  AMOUNT_RUB_ATM_PRC  AMOUNT_RUB_CLO_PRC  AMOUNT_RUB_NAS_PRC  \
0        358628            0.914453            0.003802            0.000000
1        528730                 NaN                 NaN                 NaN
2        160451            0.989403            0.000239            0.000992
3        210467            0.561584            0.000000            0.016932
4        292486            0.201789            0.147567            0.033131
...         ...                 ...                 ...                 ...
2131135  493522                 NaN                 NaN                 NaN
2131136  177598                 NaN                 NaN                 NaN
2131137  569739                 NaN                 NaN                 NaN
2131138  280318                 NaN                 NaN                 NaN
2131139  500900                 NaN                 NaN                 NaN

         AMOUNT_RUB_SUP_PRC  CNT_TRAN_ATM_TENDENCY1M  CNT_TRAN_ATM_TENDENCY3M  \
0                  0.030183                 0.216216                 0.540541
1                       NaN                      NaN                      NaN
2                  0.000765                      NaN                 0.312500
3                  0.009256                      NaN                 0.600000
4                  0.165119                 0.142857                 1.000000
...                     ...                      ...                      ...
2131135                 NaN                      NaN                      NaN
2131136                 NaN                      NaN                      NaN
2131137                 NaN                      NaN                      NaN
2131138                 NaN                      NaN                      NaN
2131139                 NaN                      NaN                      NaN

         CNT_TRAN_AUT_TENDENCY1M  CNT_TRAN_AUT_TENDENCY3M  \
0                       0.333333                 0.333333
1                            NaN                      NaN
2                            NaN                 0.333333
3                            NaN                      NaN
4                            NaN                 0.400000
...                          ...                      ...
2131135                      NaN                      NaN
2131136                      NaN                      NaN
2131137                      NaN                      NaN
2131138                      NaN                      NaN
2131139                      NaN                      NaN

         CNT_TRAN_CLO_TENDENCY1M  ...  TURNOVER_CC  TURNOVER_DYNAMIC_CC_1M  \
0                            NaN  ...          NaN                     NaN
1                            NaN  ...          NaN                     NaN
2                            NaN  ...          NaN                     NaN
3                            NaN  ...          NaN                     NaN
4                       0.266667  ...          NaN                     NaN
...                          ...  ...          ...                     ...
2131135                      NaN  ...          NaN                     NaN
2131136                      NaN  ...          NaN                     NaN
2131137                      NaN  ...          NaN                     NaN
2131138                      NaN  ...          NaN                     NaN
2131139                      NaN  ...          NaN                     NaN

         TURNOVER_DYNAMIC_CC_3M  TURNOVER_DYNAMIC_CUR_1M  \
0                           NaN                      NaN
1                           NaN                      NaN
2                           NaN                      NaN
3                           NaN                      NaN
4                           NaN                      NaN
...                         ...                      ...
2131135                     NaN                      NaN
2131136                     NaN                      NaN
2131137                     NaN                      NaN
2131138                     NaN                      NaN
2131139                     NaN                      NaN

         TURNOVER_DYNAMIC_CUR_3M  TURNOVER_DYNAMIC_IL_1M  \
0                            NaN                     NaN
1                            NaN                     NaN
2                            NaN                     NaN
3                            NaN                     NaN
4                            NaN                     NaN
...                          ...                     ...
2131135                      NaN                     NaN
2131136                      NaN                     NaN
2131137                      NaN                     NaN
2131138                      NaN                     NaN
2131139                      NaN                     NaN

         TURNOVER_DYNAMIC_IL_3M  TURNOVER_DYNAMIC_PAYM_1M  \
0                           NaN                       NaN
1                           NaN                       NaN
2                           NaN                       NaN
3                           NaN                       NaN
4                           NaN                       NaN
...                         ...                       ...
2131135                     NaN                       NaN
2131136                     NaN                       NaN
2131137                     NaN                       NaN
2131138                     NaN                       NaN
2131139                     NaN                       NaN

         TURNOVER_DYNAMIC_PAYM_3M  TURNOVER_PAYM
0                             NaN            NaN
1                             NaN            NaN
2                             NaN            NaN
3                             NaN            NaN
4                             NaN            NaN
...                           ...            ...
2131135                       NaN            NaN
2131136                       NaN            NaN
2131137                       NaN            NaN
2131138                       NaN            NaN
2131139                       NaN            NaN

[2131140 rows x 116 columns]

In [40]:
df_all.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2131140 entries, 0 to 2131139
Data columns (total 116 columns):
 #    Column                       Dtype
---   ------                       -----
 0    ID                           int64
 1    AMOUNT_RUB_ATM_PRC           float64
 2    AMOUNT_RUB_CLO_PRC           float64
 3    AMOUNT_RUB_NAS_PRC           float64
 4    AMOUNT_RUB_SUP_PRC           float64
 5    CNT_TRAN_ATM_TENDENCY1M      float64
 6    CNT_TRAN_ATM_TENDENCY3M      float64
 7    CNT_TRAN_AUT_TENDENCY1M      float64
 8    CNT_TRAN_AUT_TENDENCY3M      float64
 9    CNT_TRAN_CLO_TENDENCY1M      float64
 10   CNT_TRAN_CLO_TENDENCY3M      float64
 11   CNT_TRAN_MED_TENDENCY1M      float64
 12   CNT_TRAN_MED_TENDENCY3M      float64
 13   CNT_TRAN_SUP_TENDENCY1M      float64
 14   CNT_TRAN_SUP_TENDENCY3M      float64
 15   SUM_TRAN_ATM_TENDENCY1M      float64
 16   SUM_TRAN_ATM_TENDENCY3M      float64
 17   SUM_TRAN_AUT_TENDENCY1M      float64
 18   SUM_TRAN_AUT_TENDENCY3M      float64
 19   SUM_TRAN_CLO_TENDENCY1M      float64
 20   SUM_TRAN_CLO_TENDENCY3M      float64
 21   SUM_TRAN_MED_TENDENCY1M      float64
 22   SUM_TRAN_MED_TENDENCY3M      float64
 23   SUM_TRAN_SUP_TENDENCY1M      float64
 24   SUM_TRAN_SUP_TENDENCY3M      float64
 25   TRANS_AMOUNT_TENDENCY3M      float64
 26   TRANS_CNT_TENDENCY3M         float64
 27   TRANS_COUNT_ATM_PRC          float64
 28   TRANS_COUNT_NAS_PRC          float64
 29   TRANS_COUNT_SUP_PRC          float64
 30   AGE                          float64
 31   APP_CAR                      object
 32   APP_COMP_TYPE                object
 33   APP_DRIVING_LICENSE          object
 34   APP_EDUCATION                object
 35   APP_EMP_TYPE                 object
 36   APP_KIND_OF_PROP_HABITATION  object
 37   APP_MARITAL_STATUS           object
 38   APP_POSITION_TYPE            object
 39   APP_REGISTR_RGN_CODE         float64
 40   APP_TRAVEL_PASS              object
 41   AVG_PCT_DEBT_TO_DEAL_AMT     float64
 42   AVG_PCT_MONTH_TO_PCLOSE      float64
 43   DEAL_GRACE_DAYS_ACC_AVG      float64
 44   DEAL_GRACE_DAYS_ACC_MAX      float64
 45   DEAL_GRACE_DAYS_ACC_S1X1     float64
 46   DEAL_YQZ_IR_MAX              float64
 47   DEAL_YQZ_IR_MIN              float64
 48   DEAL_YWZ_IR_MAX              float64
 49   DEAL_YWZ_IR_MIN              float64
 50   LDEAL_ACT_DAYS_ACC_PCT_AVG   float64
 51   LDEAL_ACT_DAYS_PCT_AAVG      float64
 52   LDEAL_ACT_DAYS_PCT_CURR      float64
 53   LDEAL_ACT_DAYS_PCT_TR        float64
 54   LDEAL_ACT_DAYS_PCT_TR3       float64
 55   LDEAL_ACT_DAYS_PCT_TR4       float64
 56   LDEAL_AMT_MONTH              float64
 57   LDEAL_DELINQ_PER_MAXYQZ      float64
 58   LDEAL_DELINQ_PER_MAXYWZ      float64
 59   LDEAL_GRACE_DAYS_PCT_MED     float64
 60   LDEAL_TENOR_MAX              float64
 61   LDEAL_TENOR_MIN              float64
 62   LDEAL_USED_AMT_AVG_YQZ       float64
 63   LDEAL_USED_AMT_AVG_YWZ       float64
 64   LDEAL_YQZ_CHRG               float64
 65   LDEAL_YQZ_COM                float64
 66   LDEAL_YQZ_PC                 float64
 67   MAX_PCLOSE_DATE              float64
 68   MED_DEBT_PRC_YQZ             float64
 69   MED_DEBT_PRC_YWZ             float64
 70   CLNT_JOB_POSITION            object
 71   CLNT_JOB_POSITION_TYPE       object
 72   CLNT_SALARY_VALUE            float64
 73   CLNT_SETUP_TENOR             float64
 74   CLNT_TRUST_RELATION          object
 75   CR_PROD_CNT_CC               float64
 76   CR_PROD_CNT_CCFP             float64
 77   CR_PROD_CNT_IL               float64
 78   CR_PROD_CNT_PIL              float64
 79   CR_PROD_CNT_TOVR             float64
 80   CR_PROD_CNT_VCU              float64
 81   PACK                         object
 82   TARGET                       float64
 83   CNT_ACCEPTS_MTP              float64
 84   CNT_ACCEPTS_TK               float64
 85   PRC_ACCEPTS_A_AMOBILE        float64
 86   PRC_ACCEPTS_A_ATM            float64
 87   PRC_ACCEPTS_A_EMAIL_LINK     float64
 88   PRC_ACCEPTS_A_MTP            float64
 89   PRC_ACCEPTS_A_POS            float64
 90   PRC_ACCEPTS_A_TK             float64
 91   PRC_ACCEPTS_MTP              float64
 92   PRC_ACCEPTS_TK               float64
 93   REST_AVG_CUR                 float64
 94   REST_AVG_PAYM                float64
 95   REST_DYNAMIC_CC_1M           float64
 96   REST_DYNAMIC_CC_3M           float64
 97   REST_DYNAMIC_CUR_1M          float64
 98   REST_DYNAMIC_CUR_3M          float64
 99   REST_DYNAMIC_FDEP_1M         float64
 100  REST_DYNAMIC_FDEP_3M         float64
 101  REST_DYNAMIC_IL_1M           float64
 102  REST_DYNAMIC_IL_3M           float64
 103  REST_DYNAMIC_PAYM_1M         float64
 104  REST_DYNAMIC_PAYM_3M         float64
 105  REST_DYNAMIC_SAVE_3M         float64
 106  TURNOVER_CC                  float64
 107  TURNOVER_DYNAMIC_CC_1M       float64
 108  TURNOVER_DYNAMIC_CC_3M       float64
 109  TURNOVER_DYNAMIC_CUR_1M      float64
 110  TURNOVER_DYNAMIC_CUR_3M      float64
 111  TURNOVER_DYNAMIC_IL_1M       float64
 112  TURNOVER_DYNAMIC_IL_3M       float64
 113  TURNOVER_DYNAMIC_PAYM_1M     float64
 114  TURNOVER_DYNAMIC_PAYM_3M     float64
 115  TURNOVER_PAYM                float64
dtypes: float64(102), int64(1), object(13)
memory usage: 1.8+ GB

In [48]:
df_all.APP_CAR = df_all.APP_CAR.str.lower()
df_all.APP_COMP_TYPE = df_all.APP_COMP_TYPE.str.lower()
df_all.APP_DRIVING_LICENSE = df_all.APP_DRIVING_LICENSE.str.lower()
df_all.APP_EDUCATION = df_all.APP_EDUCATION.str.lower()
df_all.APP_EMP_TYPE = df_all.APP_EMP_TYPE.str.lower()
df_all.APP_KIND_OF_PROP_HABITATION = df_all.APP_KIND_OF_PROP_HABITATION.str.lower()
df_all.APP_MARITAL_STATUS = df_all.APP_MARITAL_STATUS.str.lower()
df_all.APP_POSITION_TYPE = df_all.APP_POSITION_TYPE.str.lower()
df_all.APP_TRAVEL_PASS = df_all.APP_TRAVEL_PASS.str.lower()
df_all.CLNT_JOB_POSITION = df_all.CLNT_JOB_POSITION.str.lower()
df_all.CLNT_JOB_POSITION_TYPE = df_all.CLNT_JOB_POSITION_TYPE.str.lower()
df_all.CLNT_TRUST_RELATION = df_all.CLNT_TRUST_RELATION.str.lower()
df_all.PACK = df_all.PACK.str.lower()

In [50]:
list(df_all.CLNT_TRUST_RELATION.unique())

[nan,
 'daughter',
 'brother',
 'friend',
 'mother',
 'relative',
 'other',
 'sister',
 'son',
 'father',
 'мать',
 'близкий ро',
 'друг',
 'сын',
 'сестра',
 'отец',
 'дочь',
 'брат',
 'дальний ро',
 'жена',
 'муж']

In [58]:
df_all.replace(' ', np.nan, regex= True )

,ID,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,CNT_TRAN_ATM_TENDENCY3M,CNT_TRAN_AUT_TENDENCY1M,CNT_TRAN_AUT_TENDENCY3M,CNT_TRAN_CLO_TENDENCY1M,...,TURNOVER_CC,TURNOVER_DYNAMIC_CC_1M,TURNOVER_DYNAMIC_CC_3M,TURNOVER_DYNAMIC_CUR_1M,TURNOVER_DYNAMIC_CUR_3M,TURNOVER_DYNAMIC_IL_1M,TURNOVER_DYNAMIC_IL_3M,TURNOVER_DYNAMIC_PAYM_1M,TURNOVER_DYNAMIC_PAYM_3M,TURNOVER_PAYM
0,358628,0.914453,0.003802,0.000000,0.030183,0.216216,0.540541,0.333333,0.333333,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,528730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,160451,0.989403,0.000239,0.000992,0.000765,NaN,0.312500,NaN,0.333333,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,210467,0.561584,0.000000,0.016932,0.009256,NaN,0.600000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,292486,0.201789,0.147567,0.033131,0.165119,0.142857,1.000000,NaN,0.400000,0.266667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2131135,493522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2131136,177598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2131137,569739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2131138,280318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2131139,500900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
df_all.APP_COMP_TYPE.where(df_all.APP_COMP_TYPE.str.replace(' ','').str.isalpha(), np.nan, inplace=True)

In [65]:
df_all

,ID,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,CNT_TRAN_ATM_TENDENCY3M,CNT_TRAN_AUT_TENDENCY1M,CNT_TRAN_AUT_TENDENCY3M,CNT_TRAN_CLO_TENDENCY1M,...,TURNOVER_CC,TURNOVER_DYNAMIC_CC_1M,TURNOVER_DYNAMIC_CC_3M,TURNOVER_DYNAMIC_CUR_1M,TURNOVER_DYNAMIC_CUR_3M,TURNOVER_DYNAMIC_IL_1M,TURNOVER_DYNAMIC_IL_3M,TURNOVER_DYNAMIC_PAYM_1M,TURNOVER_DYNAMIC_PAYM_3M,TURNOVER_PAYM
0,358628,0.914453,0.003802,0.000000,0.030183,0.216216,0.540541,0.333333,0.333333,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,528730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,160451,0.989403,0.000239,0.000992,0.000765,NaN,0.312500,NaN,0.333333,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,210467,0.561584,0.000000,0.016932,0.009256,NaN,0.600000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,292486,0.201789,0.147567,0.033131,0.165119,0.142857,1.000000,NaN,0.400000,0.266667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2131135,493522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2131136,177598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2131137,569739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2131138,280318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2131139,500900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN